::-webkit-input-placeholder {
  color: black; }

:-moz-placeholder {
  color: black; }

::-moz-placeholder {
  color: black; }

:-ms-input-placeholder {
  color: black; }

body {
  font-family: "Times New Roman"; }

h2 {
  text-transform: uppercase;
  width: 180px;
  height: 40px;
  background: #221f1f;
  color: white;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 39px;
  text-indent: 37px;
  position: absolute;
  top: 85px; }

h5 {
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid black;
  letter-spacing: 2px; }

a {
  color: black;
  text-decoration: none; }
  a:visted {
    color: black; }

.left-column {
  float: left;
  width: 305px; }

.right-column {
  float: left; }

nav {
  width: 180px;
  height: 100%;
  position: fixed;
  z-index: 20;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7); }
  nav img {
    margin: 10px 0 0 18px; }
  nav ul {
    margin: 165px 0 0 0;
    padding: 0; }
    nav ul li a {
      text-indent: 30px;
      line-height: 60px;
      height: 60px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 16px; }
      nav ul li a:hover {
        background: #ec6645; }
    nav ul li .active {
      background: #221f1f;
      color: white; }
    nav ul li .contact-active {
      background: #ec6645; }

.container {
  position: relative;
  width: 86%;
  left: 180px; }
  .container a.title {
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    border: 3px solid white;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 30%; }
  .container .full-width {
    position: relative;
    width: 100%;
    padding-bottom: 42%;
    margin: 0 0 5px 0; }
    .container .full-width .post {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover !important; }
      .container .full-width .post:hover {
        background: #ec6645; }
  .container .half-width {
    position: relative;
    float: left;
    width: 49.77%;
    padding-bottom: 24%;
    margin-right: 5px; }
    .container .half-width:last-of-type {
      margin-right: 0; }
    .container .half-width .post {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover !important; }
  .container .about {
    position: relative;
    top: 85px;
    width: 4474px;
    height: 500px;
    float: left;
    overflow-x: scroll;
    display: block;
    margin: 50px 0 0 15px; }
    .container .about p {
      font-size: 13px;
      white-space: normal; }
    .container .about .featured {
      width: 324px;
      float: left;
      margin: 0 0 0 20px; }
      .container .about .featured h3 {
        background: #221f1f;
        color: white;
        font-weight: normal;
        font-size: 12px;
        font-style: italic;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px 0; }
      .container .about .featured ul {
        margin: 0 0 0 20px;
        padding: 0;
        list-style: none; }
        .container .about .featured ul li {
          width: 283px;
          border: 1px solid #8f8d8e;
          margin: 0 0 8px 0; }
          .container .about .featured ul li a {
            display: block;
            border: none;
            color: black;
            font-size: 14px;
            padding: 17px 0;
            text-align: center;
            letter-spacing: 2px; }
            .container .about .featured ul li a:hover {
              color: white;
              background: #ec6645;
              font-style: italic; }
    .container .about .about-gallery {
      float: left;
      margin-left: 15px; }
      .container .about .about-gallery img {
        height: 500px;
        margin: 0 15px 0 0;
        float: left; }
        .container .about .about-gallery img:last-child {
          margin: 0; }
  .container .portfolio {
    float: left;
    margin-top: 115px; }
    .container .portfolio ul {
      position: fixed;
      left: 159px;
      top: 59px;
      margin: 0;
      list-style: none; }
      .container .portfolio ul li {
        float: left;
        height: 40px; }
        .container .portfolio ul li:hover {
          background: #ec6645; }
        .container .portfolio ul li a {
          height: 40px;
          padding: 0 20px;
          line-height: 35px;
          display: block;
          font-size: 14px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 14px; }
          .container .portfolio ul li a:hover {
            color: white; }
    .container .portfolio .gallery {
      clear: both;
      margin: 0 0 0 15px;
      max-height: 500px;
      width: 100%;
      overflow-x: scroll;
      display: block;
      white-space: nowrap; }
      .container .portfolio .gallery img {
        padding: 3px; }
      .container .portfolio .gallery .post {
        position: relative; }
        .container .portfolio .gallery .post .meta {
          text-align: center;
          color: white;
          letter-spacing: 2px;
          position: absolute;
          top: 0;
          width: 96%;
          height: 100%; }
          .container .portfolio .gallery .post .meta h3 {
            margin-top: 28%; }
          .container .portfolio .gallery .post .meta h3, .container .portfolio .gallery .post .meta p {
            font-style: italic;
            font-size: 12px;
            visibility: hidden; }
          .container .portfolio .gallery .post .meta:hover {
            background: url("../img/contact-bg.png") repeat; }
            .container .portfolio .gallery .post .meta:hover h3, .container .portfolio .gallery .post .meta:hover p {
              visibility: visible; }

.contact {
  width: 100%;
  height: 900px;
  z-index: 10;
  position: absolute;
  top: 0;
  background: url("../img/contact-bg.png") repeat;
  display: none; }
  .contact form {
    margin: 140px 0 0 35px;
    width: 800px; }
    .contact form section {
      width: 375px;
      float: left; }
      .contact form section:last-child {
        margin: 0 0 0 15px; }
    .contact form input {
      width: 355px;
      height: 60px;
      padding: 0 0 0 20px;
      margin: 0 0 15px 0;
      font-family: "Times New Roman";
      letter-spacing: 2px;
      font-size: 14px;
      text-transform: uppercase; }
    .contact form textarea {
      width: 355px;
      font-family: "Times New Roman";
      letter-spacing: 2px;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 0 15px 0;
      padding: 20px 0 0 22px; }
    .contact form input[type=submit] {
      width: 375px;
      background: #231f20;
      border: none;
      color: white;
      font-style: italic;
      letter-spacing: 3px; }

.social {
  width: 130px;
  height: 25px;
  clear: both;
  padding: 0;
  margin: 0 auto; }
  .social li {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin: 0 10px 0 0; }
    .social li:last-child {
      margin: 0 0 0 0; }
  .social .facebook {
    background: url("../img/social.png") no-repeat 0 0; }
    .social .facebook:hover {
      background: url("../img/social.png") no-repeat 0 -26px; }
  .social .twitter {
    background: url("../img/social.png") no-repeat -25px 0; }
    .social .twitter:hover {
      background: url("../img/social.png") no-repeat -25px -26px; }
  .social .instagram {
    background: url("../img/social.png") no-repeat -49px 0; }
    .social .instagram:hover {
      background: url("../img/social.png") no-repeat -49px -26px; }
  .social .pintrest {
    background: url("../img/social.png") no-repeat -74px 0; }
    .social .pintrest:hover {
      background: url("../img/social.png") no-repeat -74px -26px; }

@media all and (max-width: 500px) and (min-width: 320px) {
  nav {
    display: none; }

  .container {
    left: 0; } }
